// Required locals:
//   user_location <Users::UserLocation>

= form_for(user_location, url: (user_location.new_record? ? user_locations_path : user_location_path(user_location)), html:{ class: 'form-horizontal' } ) do|f|
  = f.hidden_field :is_primary, value: true
  = hidden_field_tag :child_id, params[:child_id]
  = hidden_field_tag :initial_reg, params[:initial_reg]
  .container(style='margin-top: 2%; margin-bottom: 5%;')
    - if params[:initial_reg]
      .row
        .text-right.col-xs-3.col-sm-3.col-md-2.col-lg-2
          %img(style='max-width:100%;' src="/assets/logos/goat-statue-small.png")
        %div(class='col-xs-9 col-sm-9 col-md-8 col-lg-8')
          %div.text-superbig-title.light-green-color #{t('parenting.finish_registering.title')}
          .section-gap
          %div.text-medium-title.gray-title-color
            #{t('parenting.finish_registering.subtitle')}

          %br/

          %div.text-superbig-title.moderate-dark-title-color(style='margin-bottom:1%;')
            #{t('parenting.finish_registering.home_address')}

    .form-group
      = f.label :address, 'Street Address', class: 'col-sm-2 control-label'
      .col-sm-4
        = f.text_field :address, autofocus: true, placeholder: 'Address Line 1', class: 'form-control'
      - display_error_on(user_location, :address) do|msg|
        %div(class="col-sm-4 alert-danger") #{msg}

    .form-group
      = f.label :address2, 'Address 2', class: 'col-sm-2 control-label'
      .col-sm-4
        = f.text_field :address2, placeholder:'Address Line 2', class: 'form-control'
      - display_error_on(user_location, :address2) do|msg|
        %div(class="col-sm-4 alert-danger") #{msg}

    .form-group
      = f.label :city, 'City', class: 'col-sm-2 control-label'
      .col-sm-3
        = f.text_field :city, placeholder: 'City', class: 'form-control', id: "user_location_city_of_#{user_location.id}"

      = f.label :state, 'State', class: 'col-sm-1 control-label'
      .col-sm-2
        = f.select(:state, [['','']] + ::Geocode::State::USA_STATE_LIST, {}, class: 'form-control', id: "user_location_state_of_#{user_location.id}")

    .form-group
      = f.label :zip, 'Zip Code', class: 'col-sm-2 control-label'
      .col-sm-2
        = f.text_field :zip, placeholder: 'Zip Code', class: 'form-control'

    .form-group
      = label_tag :phone, 'Phone Number', class: 'col-sm-2 control-label'
      .col-sm-4
        = text_field_tag :phone, auth_user ? auth_user.user_phones.primary.first.try(:number) : '', placeholder:'Cell: 000-000-0000', class: 'form-control'

    .section-gap
    .form-group
      .col-sm-4
      .col-xs-6.col-sm-6.col-md-4.col-lg-4.text-center.text-moderate-small-title.gray-title-color
        = f.submit (params[:initial_reg] ? 'Next' : ( user_location.nil? || user_location.new_record? ? 'Save' : 'Update') ), class: 'btn btn-lg btn-block light-blue-bg text-big-title'

        %br/
        %div
          By clicking Next, you agree to our
        %div
          %strong
            %a(href='/terms') Terms of Service
          and
          %strong
            %a(href='/privacy') Privacy Policy.
