-###############
-# Column-based layout for item thumbnails and later repositioned with Masonry plugin.
-# Reference: http://masonry.desandro.com
-# Required locals:
-#   items <Array of Item>
-# Optional locals:
-#   hide_user_label <Boolean> default false.
- 
  
%div(id='item-thumbnail-collection' class='center-block content-width js-masonry' data-masonry-options='{ "columnWidth": 150, "itemSelector": ".item" }')
  %div(id='columns')
  - items.each_with_index do|item, index|
    .pin
      = link_to(item_title_path(item, title:item.title_path) ) do
        = image_tag( default_thumbnail(item), title: item.title, alt: item.title)
      .caption
        .pull-left(style='font-size: 0.8em;')
          = user_name_label(item.user)
        .pull-right
          %span(style='font-size: 1.1em;') #{price_display(item.price) }
        - if item.user.current_school_id && item.current_school
          .clearfix
          .pull-left
            %span.gray-title-color #{item.current_school.name}
        .clearfix


